body {
    
}


body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: sans-serif,Arial, Helvetica;
    color: #eee;
    background: #121212;
}

body a.navitem {
    text-decoration: underline;
    color:#eee;
}

a.navitem:hover {
    text-decoration: underline;
    
    color:rgb(255,255,255);
}

.center-text {
    text-align: center;
}
