:root {
    --bs-body-bg: #121212;
    --bs-body-color: #eee;
    --bs-font-sans-serif: "sans-serif","Arial","Helvetica";
}

.navbar {
    --bs-navbar-color: #eee;
    --bs-navbar-hover-color: #fff;
}

